accelerate
torch
torchvision
torchaudio
diffusers==0.31.0
git+https://github.com/cloneofsimo/lora.git
transformers
einops
decord
tqdm
safetensors
omegaconf
opencv-python
pydantic
compel
positional-encodings
moviepy
